annotated-types==0.7.0
anyio==4.4.0
attrs==24.2.0
black==24.8.0
certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.8
fastapi==0.112.1
filelock==3.15.4
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.6.1
h11==0.14.0
huggingface-hub==0.24.5
humanfriendly==10.0
hypothesis==6.111.0
identify==2.6.0
idna==3.7
iniconfig==2.0.0
isort==5.13.2
kenlm @ https://github.com/kpu/kenlm/archive/master.zip#sha256=d23d300d559a45a5e3ede958dbbf2395231119c0b8cd97a1ea43480625894ff4
kiwisolver==1.4.5
matplotlib==3.9.2
mpmath==1.3.0
mypy-extensions==1.0.0
natsort==8.4.0
nodeenv==1.9.1
numpy==1.26.4
onnxruntime==1.18.1
opencv-python==4.10.0.84
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.8.0
-e git+https://github.com/OpenPecha/OCR-Deployment.git@31d1e816c05e4c9b3c579acd8a12f6e6f0a36d01#egg=project_name
protobuf==5.27.3
pyctcdecode==0.5.0
pydantic==2.8.2
pydantic_core==2.20.1
pyewts==0.2.0
pygtrie==2.5.0
pyparsing==3.1.2
pytest==8.3.2
python-dateutil==2.9.0.post0
python-multipart==0.0.9
PyYAML==6.0.2
requests==2.32.3
scipy==1.14.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.38.2
sympy==1.13.2
tqdm==4.66.5
typing_extensions==4.12.2
urllib3==2.2.2
uvicorn==0.30.6
virtualenv==20.26.3